.img{
    height:90px;
    width:80px
}.allbtn{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}.specialbtn3{
    display: flex;
   
    
}
.eat{
    padding-right: 7px;
    padding-left: 3px;
}
.specialbtn3>button{
    margin-right: 17px;
}
.header{
    margin-left: 25px;
    margin-right:20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-left: 5px solid purple;
    box-shadow: 0px 0px 10px grey;
    margin: 1.0em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgb(239,239,255);
background: linear-gradient(90deg, rgba(239,239,255,1) 34%, rgba(178,149,241,0.9080882352941176) 100%);
    
}
.res-container{
    display: flex;
    flex-wrap:wrap;
    background: rgb(239,239,255);
background: linear-gradient(90deg, rgba(239,239,255,1) 34%, rgba(178,149,241,0.9080882352941176) 100%);
background-color: white;
  border-left: 5px solid rgb(98, 30, 141);
  box-shadow: 0px 0px 10px grey;
  margin: 1.0em;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 25px;
}
.header:hover{
    border: 1px solid rgba(230, 116, 240, 0.991);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
}
.nav-items > ul > li {
    font-size:20px;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
  }
#search{
    margin-top:15px;
    margin-left:15px;
}
.res-card{
    margin-left:25px;
    margin-top:40px;
    width:190px;
   padding-left: 15px;
   padding-right: 20px;
  
    

}
.res-card:hover{
     background: rgb(229,174,238);
    background: radial-gradient(circle, rgba(229,174,238,1) 0%, rgba(255,255,255,1) 100%);;
  
  box-shadow: 0px 0px 5px rgb(111, 109, 111);
  margin: 1.0em;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border:1px solid rgb(235, 163, 246)
}
.resimg{
    width:150px;
    margin-left:15px;
    margin-top:15px;
    margin-right:15px;
    
}
.rescontent{
    padding-left:13px;
    padding-bottom:5px;
}
.shimcontainer{
   display: flex;
   flex-wrap: wrap; 
}
.cards{
    margin-left:25px;
    margin-top:40px;
   width:190px;
   height: 400px;
  background-color: #f0f0f0;
   border: 1px;  
}
.sbtn{
    display: flex;
    flex-wrap: wrap;
}
.specialbutton{
    display: flex;
    justify-content: space-between;
}